// todo: fix this.
 .hero .btn-action {
  background-color:$color-action;
  color:$color-white;
  &:hover {
    background-color:$color-hover;
    color:$color-white;
  }
}
.contact .btn-action {
  background-color:$color-action;
  color:$color-white;
  &:hover {
    background-color:$color-hover;
    color:$color-white;
  }
}