.footer {
  text-align:center;
  position:absolute;
  bottom:0px;
  left:0;
  right:0;
  margin-bottom:20px;
  margin-top:20px;
}
.form-group {
  margin-bottom:15px;
}
textarea::-webkit-input-placeholder {
  font-family:'Lato','Helvetica Neue',Arial,Helvetica,sans-serif;
}