/*
* #HERO
*/

.section-1 {
  background-color:$color1;
}
.section-2 {
  // background-color:$color5;
  background-color:$color1;
}
.section-3 {
  background-color:$color1;
}
.section-4 {
  background-color:$color5;
}
.hero h1 {
  margin-top:100px;
}
.form-holder {
  margin-top:30px;
  width:50%;
  margin-left:25%;
}
.mascot-img {
  display:block;
  width:600px;
  margin-top:40px;
  margin-left:auto;
  margin-right:auto;
  
}
/*
* #Mission
*/

.mission-desc {
  margin-top:30px;
  color:$color-text;
  text-align:center;
}
.push-down {
  margin-top:15%;
}

/*
#Stay in touch
*/

.stay-in-touch .btn-action {
  background-color:$color-action;
  color:$color-white;
}
.stay-in-touch .form-subscribe {
  margin-top:15%;
}

/*
* #whyus
*/
.whyus {
  text-align:center;
}
.icon-why {
  color:$color-hover;
  font-size:40px;
}


.whyus-title {
  color:$color-white;
}
.whyus-desc {
  color:$color-text;
}
.col-md-push-6 {
  margin-left:25%;
}