@media screen and (max-width: 1100px) {
  .fp-section,
  .fp-slide,
  .fp-tableCell{
    height: auto !important;
  }
  .form-holder {
    width:90%;
    margin-left:5%;
    margin-top:30px;
  }
  .mascot-img {
    width:300px;
  }
  .hero h1 {
    margin-top:50px;
  }
  h1 {
    font-size:150%;
    width:90%;
    margin-left:5%;
  }
  .logo img {
    display:block;
    margin:0 auto;
  }
  h2 {
    margin-bottom:30px;
  }
  .col-md-4 {
    margin-bottom:30px;
  }




}