@import 'font-family';
@import 'color';
@import 'mixin';
@import 'function';

// Basic style
body {
	font: $font-size $font-stack
}

html,
body {
	overflow-x: hidden;
	text-rendering: optimizeLegibility
}

img {
	max-width: 100%;
	vertical-align: middle
}

p {
	line-height: 145%
}
section {
  padding:80px 0;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  font-size:200%;
  color: $color-white;
  text-align:center; 
}

h2 {
  font-size:170%;
  color:$color-white;
  text-align:center;
  margin-bottom:100px;
}
h3 {
  font-size:138%;
  color:$color-white;
  margin-bottom:10px;
  margin-top:10px;
}

// Utility classes
.u-center {
  text-align:center;
}

.u-push-top {
  margin-top:30px;
}
.u-push-top-lg {
  margin-top:60px !important;
}
.u-acenter {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}
