$color-primary:#0f2b40;
$color-action:#eb4d8b;
$color-white: #fff;
$color-text: #eee;
$color-hover: #fb84b3;
$color-icons: #fca5c7;

$color1: $color-primary;
$color2: rgba(241, 250, 238, 1);
$color3: rgba(168, 218, 220, 1);
$color4: rgba(69, 123, 157, 1);
$color5: rgba(29, 53, 87, 1);