$columns: 12;
$spacing: 20px;

[class*='col-'] {
  float: left;
  width: 100%;
  &:not(:last-of-type) {
    padding-right: $spacing;
  }
}

.row {
  overflow: auto;
}

@mixin grid($size, $breakpoint) {
  @media (min-width: $breakpoint) {
    @for $i from 1 through $columns {
      .col-#{$size}-#{$i} {
        width: (100% / $columns) * $i;
      }
    }
  }
}

@include grid('sm', 544px);
@include grid('md', 768px);
@include grid('lg', 1200px);
/*
* Define container
*/
.container {
  margin-left:auto;
  margin-right:auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  } 
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
    
.container-fluid {
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
  .container-fluid {
    margin-right: 0;
    margin-left: 0;
  }
}
@media (max-width:768px) {
  [class*='col-']:not(:last-of-type) {
    padding-right: 0;
  }
}